.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  z-index: 2;

  background-color: var(--dark-component);
  opacity: 0.9;
  border-bottom: 1px solid var(--primary-colour);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleHeader {
  font-size: 2rem;
  font-weight: bold;
}

.spaceHeader {
  margin-left: 2rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}

.iconLinksHeader {
  vertical-align: middle;
  margin-left: 0.25rem;
}

@media (prefers-color-scheme: light) {
  .header {
    background-color: var(--light-component);
  }
}
