.popupError {
  padding: 1rem;
}

.buttonPopupError {
  padding: 0.5rem;
}

.errorPopup {
  background-color: var(--error-colour) !important;
}
.errorPopup:hover {
  background-color: red !important;
}
