.errorPopup {
  border-radius: 1rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--error-colour);
  color: var(--text-in-colour);
  transition-duration: 0.5s;
}
.errorPopup:hover {
  background-color: var(--error-secondary-colour);
}
