.chat {
  background-color: var(--dark-component);
  border-radius: 2rem 2rem 0 0;
  padding-top: 1rem;

  position: fixed;
  bottom: 0;
  left: 50%;
  height: 50rem;
  transform: translate(-50%, 0);
}

.gradientChat {
  border-radius: 2rem 2rem 0 0;
  height: 20rem;
  width: inherit;

  position: fixed;
  bottom: 30rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;

  background: linear-gradient(0deg,
    rgba(255,255,255,0) 0%, 
    var(--dark-component) 100%);
}


.chatInput {
  position: fixed;
  bottom: 1rem;
  width: inherit;
}
.chatInput > input {
  background-image: url('/icons/send.png');
  width: 84%;
}
.chatInput > button {
  width: 15%;
}


.chatComments {
  width: inherit;
}

@media (prefers-color-scheme: light) {
  .chat {
    background-color: var(--light-component);
  }
  .gradientChat {
    background: linear-gradient(0deg,
      rgba(255,255,255,0) 0%, 
      var(--light-component) 100%);
  }
}
