:root {
  --light-bg: #F0F2F5;
  --dark-bg: #202235;
  --light-component: #FFFFFF;
  --dark-component: #303245;
  --primary-colour: #EBBC1C;
  --secondary-colour: #d3a81a;
  --light-text: #101215;
  --dark-text: #F0F2F5;
  --text-in-colour: #FFFFFF;

  font-family: Inter, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  color: var(--dark-text);
  background-color: var(--dark-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  color: var(--primary-colour);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-colour);
}

body {
  margin: 0;
  padding: 0;
}

.yellow_button {
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--primary-colour);
  color: var(--text-in-colour);
  transition-duration: 0.4s;
}
.yellow_button:hover {
  background-color: var(--secondary-colour);
  box-shadow: 0.5rem 0.5rem 1rem 0.1rem #00000010;
}

.component {
  background-color: var(--dark-component);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  width:fit-content;
  height: fit-content;
  box-shadow: 0.5rem 0.5rem 1rem 0.1rem #00000010;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--light-text);
    background-color: var(--light-bg);
  }
  .component {
    background-color: var(--light-component);
  }
}
