@import "bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: 'IntelLocal';
  src: local('IntelLocal'), url(/fonts/Inter-VariableFont_slnt,wght.ttf) format('truetype');
}

:root {
  --light-bg: #F0F2F5;
  --dark-bg: #202235;
  --light-component: #FFFFFF;
  --dark-component: #303245;
  --primary-colour: #EBBC1C;
  --secondary-colour: #d3a81a;
  --error-colour: #EB1C41;
  --error-secondary-colour: #db1a3d;
  --light-text: #101215;
  --dark-text: #F0F2F5;
  --text-in-colour: #FFFFFF;

  font-family: IntelLocal, Inter, Helvetica, sans-serif !important;
  font-weight: 400 !important;
  text-align: center !important;

  color-scheme: light dark !important;
  text-rendering: optimizeLegibility !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  color: var(--dark-text) !important;
  background-color: var(--dark-bg) !important;
}

a {
  font-weight: 500 !important;
  color: var(--primary-colour) !important;
  text-decoration: inherit !important;
  transition-duration: 0.5s !important;
}
a:hover {
  color: var(--secondary-colour) !important;
}

.yellowButtonG {
  border-radius: 1.5rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--primary-colour);
  color: var(--text-in-colour);
  transition-duration: 0.5s;
}
.yellowButtonG:hover {
  background-color: var(--secondary-colour);
}

.yellowInputTextG {
  border: 1px solid var(--primary-colour);
  border-radius: 1.5rem;

  font-family: IntelLocal, Inter, Helvetica, sans-serif;
}
.yellowInputTextG:hover {
  border: 1px solid var(--secondary-colour);
}
::placeholder {
  font-family: IntelLocal, Inter, Helvetica, sans-serif;
  color: lightgrey;
}

.yellowLabelG {
  color: var(--primary-colour);
  transition-duration: 0.5s;
}
.yellowLabelG:hover {
  color: var(--secondary-colour);
}

.formLabelG {
  font-size: 0.5rem;
}

.roundedImagesG {
  border-radius: 100%;
}

.componentG {
  background-color: var(--dark-component);
  border-radius: 2rem;
  width:fit-content;
  height: fit-content;
}

.sombraG {
  background-color: black;
  opacity: 0.25;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  animation: 1s fadeInSombra;
  animation-fill-mode: forwards;
}
@keyframes fadeInSombra {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 0.2;
  }
}

.hiddenG {
  visibility: hidden;
}
.ultraHiddenG {
  display: none;
}

.onlyFooterG > footer {
  position: fixed;
  bottom: 0;
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--light-text) !important;
    background-color: var(--light-bg) !important;
  }
  .componentG {
    background-color: var(--light-component) !important;
  }
}
