@font-face {
  font-family: 'IntelLocal';
  src: local('IntelLocal'), url(/fonts/Inter-VariableFont_slnt,wght.ttf) format('truetype');
}

:root {
  --light-bg: #F0F2F5;
  --dark-bg: #202235;
  --light-component: #FFFFFF;
  --dark-component: #303245;
  --primary-colour: #EBBC1C;
  --secondary-colour: #d3a81a;
  --light-text: #101215;
  --dark-text: #F0F2F5;
  --text-in-colour: #FFFFFF;

  font-family: IntelLocal, Inter, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  color: var(--dark-text);
  background-color: var(--dark-bg);

  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--primary-colour);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-colour);
}

.yellowButtonG {
  border-radius: 1rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--primary-colour);
  color: var(--text-in-colour);
  transition-duration: 0.4s;
}
.yellowButtonG:hover {
  background-color: var(--secondary-colour);
  box-shadow: 0.5rem 0.5rem 1rem 0.1rem #00000010;
}

.yellowInputTextG {
  border: 1px solid var(--primary-colour);
  border-radius: 1rem;

  font-family: IntelLocal, Inter, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.yellowInputTextG:hover {
  border: 1px solid var(--secondary-colour);
}
::placeholder {
  font-family: IntelLocal, Inter, Helvetica, sans-serif;
  color: lightgrey;
}

.roundedImagesG {
  border-radius: 100%;
}

.componentG {
  background-color: var(--dark-component);
  border-radius: 1rem;
  width:fit-content;
  height: fit-content;
  box-shadow: 0.5rem 0.5rem 1rem 0.1rem #00000010;
}

.sombraG {
  background-color: black;
  opacity: 0.25;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  animation: 1s fadeInSombra;
  animation-fill-mode: forwards;
}
@keyframes fadeInSombra {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 0.2;
  }
}

.hiddenG {
  visibility: hidden;
}
.ultraHiddenG {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--light-text);
    background-color: var(--light-bg);
  }
  .componentG {
    background-color: var(--light-component);
  }
}
