.home {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sideHome {
  text-align: left;
}

.welcomeHome {
  text-align: left;
  padding: 1rem;
  margin-top: 2rem;
}

.fotosRecientesHome > img {
  border-radius: 1.5rem;
}

.sidePfpHome {
  margin-right: 1rem;
}

.searchWelcomeHome {
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  padding: 0.3rem;
  margin-bottom: 1rem;

  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url('/icons/search.png');
}
