.sideHome {
  margin: 1rem;
  text-align: left;
}
.sideHome > * {
  margin: 1rem;
  padding: 1rem;
}

.welcomeHome {
  text-align: left;
}
.welcomeHome > * {
  margin: 0.5rem;
}

.flexHome {
  display: flex;
}

.fotosRecientesHome > img {
  border-radius: 1rem;
  margin: 0.1rem;
}

.searchWelcomeHome {
  font-size: 1.3rem;
  width: 19rem;
  text-align: center;
  padding: 0.3rem;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url('/icons/search.png');
}
