.visibleLogin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}

.visibleLogin > div > h1 {
  color: var(--primary-colour);
  font-size: 5rem;
  margin-bottom: 0;
}
.visibleLogin > div > p {
  font-size: 1.25rem;
  margin-top: 0;
}

.componentLogin {
  padding: 0.1rem;
  width: 30rem;
}

.componentLogin > * {
  margin: 0.5rem;
  margin-top: 1rem;
}

.componentLogin > * > label, .componentLogin > * > * > label {
  font-size: 1rem;
}

.inputFullLogin {
  width: 28rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.inputHalfLogin {
  width: 13rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.buttonLogin {
  width: 29rem;
  padding: 1rem;
}

.texto-abajoLogin {
  margin-top: 1rem;
}

.img_bgLogin {
  background-image: url('/bg/bg-login-by-LaBruixa-Pixabay-dark.png');
  background-repeat: no-repeat;
  background-position: center;
  bottom:0;
  left: -50%;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -2;
}
.diagonal_bgLogin {
  animation:slide 30s ease-in-out infinite alternate;
  background-image: linear-gradient(-70deg, var(--dark-bg) 50%, #00000000 50%);
  bottom:0;
  left:-50%;
  opacity: 0.8;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
@media (prefers-reduced-motion: no-preference) {
  @keyframes slide {
    0% {
      transform:translateX(-5%);
    }
    100% {
      transform:translateX(5%);
    }
  }
}

@media (prefers-color-scheme: light) {
  .img_bgLogin {
    background-image: url('/bg/bg-login-by-LaBruixa-Pixabay-light.png');
  }
  .diagonal_bgLogin {
    background-image: linear-gradient(-70deg, var(--light-bg) 50%, #00000000 50%);
  }
}
