.login {

}

.titulo {
  display: flex;
  color: var(--primary-colour);
  font-size: 5rem;
  justify-content: center;
  
  
  
 
}


.caja_sesion{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.texto-abajo{
    display: flex;
    justify-content: center;
    
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}
input[type="text"], input[type="password"], input[type="date"] {
  border: 0.0625rem solid #EBBC1C;
  border-radius: 1.125rem;
  background: transparent;
  width: 32.688rem;
  height: 4.688rem;
  outline: none;
  color: #000000;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4375rem;
  text-align: center;
}

input[type="submit"] {
  border: none;
  outline: none;
  margin-top: 2rem;
  width: 32.688rem;
  height: 4.688rem;
  background: #EBBC1C;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4375rem;
  text-align: center;
  border-radius: 1.25rem;
}
input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.img_bg {
  background-image: url('/Image_by_LaBruixa_from_Pixabay_dark.png');
  background-repeat: no-repeat;
  background-position: center;
  bottom:0;
  left: -50%;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -2;
}

.diagonal_bg {
  animation:slide 30s ease-in-out infinite alternate;
  background-image: linear-gradient(-70deg, var(--dark-bg) 50%, #00000000 50%);
  bottom:0;
  left:-50%;
  opacity: 0.8;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.component-register {
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  width:fit-content;
  height: fit-content;
  
}
@media (prefers-reduced-motion: no-preference) {
  @keyframes slide {
    0% {
      transform:translateX(-5%);
    }
    100% {
      transform:translateX(5%);
    }
  }
}

@media (prefers-color-scheme: light) {
  .img_bg {
    background-image: url('/Image_by_LaBruixa_from_Pixabay.png');
  }
  .diagonal_bg {
    background-image: linear-gradient(-70deg, var(--light-bg) 50%, #00000000 50%);
  }
}
