.login > footer {
  position: fixed;
  bottom: 0;
}

.visibleLogin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}

.visibleLogin > h1 {
  color: var(--primary-colour);
  font-size: 5rem;
}

.componentLogin {
  padding: 1rem;
  width: 40rem;
}

.componentLogin > * {
  margin: 1rem;
}

.componentLogin > * > label, .componentLogin > * > * > label {
  font-size: 2rem;
}

.inputFullLogin {
  width: 90%;
  padding: 0.5rem;
}

.inputHalfLogin {
  width: 90%;
  padding: 0.5rem;
}

.texto-abajoLogin{
  margin-top: 1rem;
}

.buttonLogin {
  width: 90%;
  padding: 1rem;
}

.img_bgLogin {
  background-image: url('/bg-login-by-LaBruixa-Pixabay-dark.png');
  background-repeat: no-repeat;
  background-position: center;
  bottom:0;
  left: -50%;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -2;
}
.diagonal_bgLogin {
  animation:slide 30s ease-in-out infinite alternate;
  background-image: linear-gradient(-70deg, var(--dark-bg) 50%, #00000000 50%);
  bottom:0;
  left:-50%;
  opacity: 0.8;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
@media (prefers-reduced-motion: no-preference) {
  @keyframes slide {
    0% {
      transform:translateX(-5%);
    }
    100% {
      transform:translateX(5%);
    }
  }
}

@media (prefers-color-scheme: light) {
  .img_bgLogin {
    background-image: url('/bg-login-by-LaBruixa-Pixabay-light.png');
  }
  .diagonal_bgLogin {
    background-image: linear-gradient(-70deg, var(--light-bg) 50%, #00000000 50%);
  }
}
