.post {
  margin: 3rem;
  padding-bottom: 0.5rem;
}

.titlePost {
  display: flex;
  padding: 1rem;
  align-items: center;
}
.titlePost > div {
  margin-left: 1rem;
  font-size: 1.5rem;
  text-align: left;
}

.imagePost {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 2rem;
}

.likeSectionPost {
  margin-top: 0.5rem;
}

.likeButtonPost {
  border: none;
  border-radius: 1.5rem;
  padding: 0rem 1rem 0rem 1rem;
  margin-right: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-colour);
  color: var(--text-in-colour);
  transition-duration: 0.5s;
}
.likeButtonPost:hover {
  background-color: var(--secondary-colour);
}
.likeButtonPost > * {
  margin: 0.5rem;
}

.inputComentarioPost {
  background-image: url('/icons/message.png');
}
