.post {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.titlePost {
  padding: 1rem;
  align-items: left;
}
.titlePost > div > div {
  margin-left: 1rem;
  font-size: 1.5rem;
  text-align: left;
}

.imagePost {
  margin-bottom: 1rem;
  border-radius: 2rem;
  width: 100%;
}

.likeButtonPost {
  border: none;
  border-radius: 1.5rem;
  padding: 0rem 1rem 0rem 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-colour);
  color: var(--text-in-colour);
  transition-duration: 0.5s;
}
.likeButtonPost:hover {
  background-color: var(--secondary-colour);
}
.likeButtonPost > * {
  margin: 0.5rem;
}

.likedPost {
  background-color: var(--error-colour);
}
.likedPost:hover {
  background-color: red;
}

.inputComentarioPost {
  background-image: url('/icons/message.png');
}
