.flexProfile {
  display: flex;
}

.componentProfile {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.pfpProfile {
  transform: translate(0, -25%);
  margin-left: 2rem;
}

.bannerProfile {
  border-radius: 2rem 2rem 0rem 0rem;
  width: 80rem;
  height: 25rem;
  background-image: url('/bg/banner-profile-by-Oberholster-Venita-pixabay.jpg');
}

.textoProfile {
  text-align: left;
  margin: 1rem;
}
.textoProfile > hr {
  margin: 0rem;
}
.textoProfile > p {
  font-size: 1.5rem;
}

.feedProfile {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
