.pfpProfile {
  transform: translate(0, -25%);
  margin-left: 2rem;
  z-index: 2;
}

.bannerProfile {
  border-radius: 2rem 2rem 0rem 0rem;
  width: inherit;
  height: 25rem;
}

.textoProfile {
  text-align: left;
  margin: 1rem;
}
.textoProfile > hr {
  margin: 0rem;
}
.textoProfile > p {
  font-size: 1.5rem;
}
