.uploadImage {
  position: fixed;
  top: 4.2rem;
  left: 50%;
  transform: translate(-50%, 0);

  opacity: 0.9;
  z-index: 3;
  padding: 1rem;
}

.visibleUpload {
  display: flex;
}

.inputUpload {
  font-size: 1.5rem;
  width: 50rem;
  padding: 0.2rem;
  margin-left: 1rem;
  text-align: center;
}
