.zoneUpload {
  border: 1px dashed var(--primary-colour);
  padding: 1rem;
}

.labelUpload {
  font-size: 1.5rem;
  transition-duration: 0.4s;
}

.labelUpload:hover {
  color: var(--secondary-colour);
}

.publicarUpload {
  width: 100%;
  padding: 0.5rem;
}
